.main-chat
  .main-chat__group-info
    .main-chat__group-info--form
      .main-chat__group-info--form--left
        .main-chat__group-info--form--left--top text
        .main-chat__group-info--form--left--bottom member:masa
      =link_to "#", class:"main_chat__edit-btn" do
        Edit
  .main-chat__message-list
    .main-chat__message-list--form
      .main-chat__message-list--form--top
        .main-chat__message-list--form--top--name masa
        .main-chat__message-list--form--top--date 2020/07/07
      .main-chat__message-list--form--bottom おはよう
  .main-chat__message-bottom
    .main-chat__message-bottom--form
      .main-chat__message-bottom--form--user-box
        %input{type: "text", placeholder: "type a message",class: "message-area"}
        %label{class: "input-box__image"}
          = icon('fas', 'image')
          %input{type: "file", class: "input-box__image--file"}
      %input{type: "submit",value: "Send", class: "submit__btn"}
