* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  .side_bar {
    background-color: #253141;
    width: 300px;
    height: 100vh;
    font-weight: bold;
    color: #ffffff;
    .side_bar__top{
      padding: 0 20px 0;
      .side_bar__user-name {
        background-color: #253141;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        .side_bar__name-list {
          width: 260px;
          font-size: 16px;
          height: 20px;
          display: flex;
          justify-content: space-between;
          .side_bar__name {
            font-weight: bold;
            display: block;
            width: calc(100% - 60px);
          }
          .side_bar__icon {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 60px;
            .right_icon {
              margin-left: 5px;
              .side_bar__btn {
               display: block;
               color: #ffffff;
               text-decoration: none;
              }
            }
            .left_icon {
              .side_bar__btn {
                display: block;
                color: #ffffff;
              }
            }
          }
        }
      }    
    }    
    .side_bar_group-list {
      background-color: #2f3e51;
      height: calc(100vh - 100px);
      padding: 0 20px 0;
      .side_bar__bottom {
        padding: 20px 0 40px;
        .group-icon {
          font-size: 15px;
          margin-bottom: 5px;
          text-decoration: none;
          .group_name {
            text-decoration: none;
          }
        }
        .group-message {
          font-size: 11px;
          .group_contact {
            text-decoration: none;
          }
        }
      }  
    }
  }
  .main_chat{
    background-color: #ffffff;
    width: calc(100% - 300px);
    .main_chat__group-info {
      background-color: #ffffff;
      height: 100px;
      border: 1px solid #eeeeee;
      .main_chat__group-info-form {
        display: flex;
        justify-content: space-between;
        padding: 0 40px;
        .main_chat__group-left {
          .main_chat__group-left-top {
            margin-top: 35px;
            font-size: 20px;
            color: #333333;
          }
          .main_chat__group-left-bottom {
            margin-top: 15px;
            font-size: 12px;
            color: #999999;
          }
        }
        .main_chat__group-right {
          display: block;
          font-size: 16px;
          color: #38aef0;
          width: 72px;
          height: 40px;
          line-height: 40px;
          padding: 0 20px;
          margin-top: 28px;
          border: 1px solid #38aef0;
          text-decoration: none;
        }
      }
    }  
    .main_chat__message-list {
      background-color: #fafafa;
      height: calc(100vh - 190px);
      .main_chat__message-list-form {
        padding: 35px 0 0 45px;
        .main_chat__message-list-top {
          font-weight: bold;
          display: flex;
          padding-bottom: 12px;
          .main_chat__message-list-top__user-name {
            font-size: 16px;
            color: #333333;
          }
          .main_chat__message-list-top__date {
            font-size: 12px;
            color: #999999;
          }
        }
        .main_chat__message-list-bottom {
          font-size: 14px;
          color: #434A54;
          margin-bottom: 46px;
        }
      }   
    }
    .main_chat__message-bottom {
      background-color: #d2d2d2;
      height: 90px;
      right: 40px;
      display: flex;
      align-items: center;
      .main_chat__message-form {
        display: flex;
        width: 100%;
        .main_chat__user-box{
          border: none;
          display: flex;
          position: relative;
          margin-left: 40px;
          height: 50px;
          width: 100%;
          .message_area {
            border: none;
            padding-left: 10px;
            width: 100%;
          }
          .input-box__image {
            position: absolute;
            right: 10px;
            top: 10px;
            .input-box__image__file {
              display: none;
            }
          }
        }

      } 
      .submit__btn {
        margin: 0 40px 0 15px;
        padding: 0 30px;
        background-color: #38aef0;
        color: #fff;
        border: none;
      }
    }
  } 
}
